{
  "env": {
    "native": {
      "presets": ["react-native"]
    },
    "development": {
      "presets": ["react-app"],
      "plugins": ["babel-plugin-transform-es2015-modules-commonjs"]
    }
  }
}